asyncpg==0.29.0
fastapi==0.111.1
pylint_pydantic
pytest-asyncio==0.23.8
pytest-mock==3.14.0
pytest==8.2.0
pyyaml==6.0.1
redis==5.0.1
sqlalchemy==2.0.31
sqlalchemy2-stubs
sqlmodel==0.0.21
types-redis
uvicorn==0.29.0
werkzeug==2.3.3